<div class="hero">

    <div class="container ">
        <div class="row">
            <div class="col-lg-6">
                <div class="p-5 mx-4">
                    <h2 class="title1">Hi! </h2>
                    <h2 class="title2"><span style="color: #41817e">I'm</span> &lt;Pouyan <br>Kheradmand/&gt; </h2>
                    <h3 class="title3"><span class="#ff3630">New</span> Full Stack web Developer </h3>

                </div>

            </div>
            <div class="col-lg-6">


            </div>
        </div>

    </div>